
.header-title {
  position: relative;
  z-index: 5;
  display: flex;
  padding: .5em 1em;
  background: $mainColor;
  justify-content: space-between;
  align-items: center;
}
.header-title-icon {
  margin-right: .2em;
  width: 1.2em;
}

//▼hamburger button
.header-button span {
  display: inline-block;
  box-sizing: border-box;
  transition: all .4s;
}

.header-button {
  position: relative;
  width: 40px;
  height: 32px;
  &-line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 14px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
}
.header-active .header-button-line {
  &:nth-of-type(1) {
    transform: translateY(14px) rotate(-45deg);
  }
  &:nth-of-type(2) {
    opacity: 0;
  }
  &:nth-of-type(3) {
    transform: translateY(-14px) rotate(45deg);
  }
}
//▲hamburger button

//▼nav
.header-nav {
  position: relative;
}
.header-nav-inner {
  position: absolute;
  top: -200px;
  right: 0;
  left: 0;
  z-index: 4;
  text-align: center;
  transition: all .3s;
  transform-origin: top;

@include mainColorRgba(.8);
  a {
    display: inline-block;
    padding: 1em 0;
    width: 100%;
    color: $subColor;
    font-weight: bold;
    transition: .3s;
    &:hover {
      background: #fff;
      color: $mainColor;
    }
  }
}
.header-open {
  top: 0;
}
//▲nav

/*==TABLET==*/

@include mq() {
  .header-button {
    display: none;
  }
  .header-wrap{
    background: $mainColor;
  }
  .header-inner {
    position: relative;
    z-index: 5;
  }
  .header-nav {
    width: 100%;
  }
  .header-nav-inner {
    position: static;
    font-size: 0;
    li {
      display: inline-block;
      width: (100% / 3);
      font-size: medium;
    }
  }
}

/*==PC==*/
@include mq(pc) {
  .header-inner {
    display: flex;
    justify-content: space-between;
    width:900px;
    margin:0 auto;
  }
  .header-nav {
    width:auto;
  }
  .header-nav-inner {
    li {
      width:(450px / 3);
    }
  }
}
